

.katalog-img {
    object-fit: cover;
    width: 65%;
    height: auto;
    
}

.katalog-subtitle {
    font-size: 10px;
}

.katalog-btn-grp {
    position : absolute;
    bottom:10px;
    right : 15px;
}
.katalog-title {
    font-size: 20px;
}

.katalog-badge-text {
    font-size: 14px;
}